@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<section id="hero-fullscreen" class="hero-fullscreen d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center position-relative text-center" data-aos="zoom-out">
        <h2>About the Dig</h2>
        <p>
            The Fag el-Gamous excavation site is located in the Faiyum Oasis in Egypt and is
            believed to have been a large cemetery complex that was in use between the 1st and
            7th centuries AD. The purpose of the excavation at this site is to learn more about
            the people who were buried there, their lives, and their society during this time
            period.
        </p>
        <p>
            During multiple years of study, researchers have excavated more than 1,000 mummies and
            collected data in field notes, spreadsheets, and simple databases about each mummy’s
            location, physical orientation in the ground, burial depth, hair color, wrapping (including
            information about the textiles used), sex, age, bone (including skull and teeth) dimensions,
            items accompanying the mummy, and more. And, of course, there are many, many photographs.
            Offsite, researchers have performed a variety of analyses on the excavated items including
            carbon dating, DNA sequencing, and others.
        </p>
        <p>
            The excavation of the site is also important for understanding the history of the region,
            as the Faiyum Oasis played an important role in the development of ancient Egyptian
            civilization. Through the study of the artifacts and human remains found at the site,
            archaeologists hope to gain a better understanding of the cultural and social changes
            that occurred in this area over time.
        </p>
    </div>
</section>