@{
}

@model BurialViewModel
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.min.css" 
          integrity="sha512-ZYg+hQvLlM0W9C3P6vTpes5LmJ66G2EsroxDNzwD6qiulckldb29eD9I672HL2X+LH5nRhY1sQqZLJGB+aUUPg==" 
          crossorigin="anonymous" referrerpolicy="no-referrer" />

     
<div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <form asp-action="Summary" method="Post">
                <div class="Form-group">
                    <label>Filters:</label> <br/>
                    <vc:Sex></vc:Sex> <br/>
                    <vc:head-direction></vc:head-direction> <br/>
                    <vc:burial-depth></vc:burial-depth> <br/>
                    <vc:hair-color></vc:hair-color> <br/>
                    <vc:age-at-death></vc:age-at-death> <br/>
                    <vc:textile-color></vc:textile-color> <br/>
                    <vc:textile-function></vc:textile-function> <br/>
                    <br />
                </div>
                <button type="submit" class="btn btn-success btn-sm" id="filter" name="filter">Search</button>
            </form>
        </div>

    <div class="col">
    @foreach(Burialmain b in Model.Burialmains)
    {
        <partial name="BurialSummary" model="b" />
    }

    <div page-model="@Model.PageInfo" page-action="Summary" page-class="btn"
         page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-classes-enabled="true"
         class="btn-group pull-right m-1"></div>

    </div>
</div>