@{
    ViewData["Title"] = "Supervised Analysis";
}
<h2>@ViewData["Title"]</h2>
<div>
    <h4>Predict head direction</h4><br>
    <div class="form-group">
        <h3>Burial Location</h3>
        <div class="row">
        <div class="col-2"><label for="squarenorthsouth">Square North/South</label></div>
        <div class="col"><input id="squarenorthsouth" type="number" value="0"></div>
        <br>
        </div>

        <div class="row">
        <div class="col-2""><label for="northsouth">North/South</label></div>
        <div class="col"><select id="northsouth">
            <option value="N">N</option>
            <option value="S">S</option>
        </select></div>
        <br>
        </div>

        <div class="row">
        <div class="col-2"><label for="squareeastwest">Square East/West</label></div>
        <div class="col"><input id="squareeastwest" type="number" value="0"></div>
        <br></div>

        <div class="row">
        <div class="col-2"><label for="eastwest">East/West</label></div>
        <div class="col"><select id="eastwest">
            <option value="E">E</option>
            <option value="W">W</option>
        </select></div>
        <br><br></div>

        
        <h3>Burial Info</h3>
        
        <div class="row">
        <div class="col-2"><label for="burialdepth">Burial Depth</label></div>
        <div class="col"><input id="burialdepth" type="number" value="0" step=.01></div>
        <br></div>

        <div class="row">
        <div class="col-2"><label for="facebundles">Face Bundles</label></div>
        <div class="col"><select id="facebundles">
            <option value="true">True</option>
            <option value="false">False</option>
        </select></div>
        <br></div>

        <div class="row">
        <div class="col-2"><label for="southtohead">South to Head</label></div>
        <div class="col"><input id="southtohead" type="number" value="0" step=0.01></div>
        <br></div>

        <div class="row">
        <div class="col-2"><label for="southtofeet">South to Feet</label></div>
        <div class="col"><input id="southtofeet" type="number" value="0" step=.01></div>
        <br></div>

        <div class="row">
        <div class="col-2"><label for="westtohead">West to Head</label></div>
        <div class="col"><input id="westtohead" type="number" value="0" step=.01></div>
        <br></div>

        <div class="row">
        <div class="col-2"><label for="westtofeet">West to Feet</label></div>
        <div class="col"><input id="westtofeet" type="number" value="0" step=.01></div>
        <br></div>

        <div class="row">
        <div class="col-2"><label for="buriallength">Burial Length</label></div>
        <div class="col"><input id="buriallength" type="number" value="0" step=.01></div>
        <br></div>

        <div class="row">
        <div class="col-2"><label for="goods">Goods</label></div>
        <div class="col"><select id="goods">
            <option value="true">True</option>
            <option value="false">False</option>
        </select></div>
        <br></div>

        <div class="row">
        <div class="col-2"><label for="samplescollected">Samples Collected</label></div>
        <div class="col"><select id="samplescollected">
            <option value="true">True</option>
            <option value="false">False</option>
        </select></div>
        <br></div>

        <div class="row">
        <div class="col-2"><label for="adultsubadult">Adult/Child</label></div>
        <div class="col"><select id="adultsubadult">
            <option value="A">Adult</option>
            <option value="C">Child</option>
        </select></div>
        <br></div>

        <div class="row">
        <div class="col-2"><label for="wrapping">Wrapping</label></div>
        <div class="col"><select id="wrapping">
            <option value="B">Bones and/or partial remnants of wrapping remains</option>
            <option value="H">Partial wrapping remains</option>
            <option value="W">Full or nearly full wrapping remains</option>
        </select></div>
        <br></div>

        <div class="row">
        <div class="col-2"><label for="area">Area</label></div>
        <div class="col"><select id="area">
            <option value="NE">North East</option>
            <option value="NW">North West</option>
            <option value="SE">South East</option>
            <option value="SW">South West</option>
        </select></div>
        <br></div>

        <div class="row">
        <div class="col-2"><label for="ageatdeath">Age at Death</label></div>
        <div class="col"><select id="ageatdeath">
            <option value="A">Adult - years 15+</option>
            <option value="C">Child - years 3-15</option>
            <option value="I">Infant - years 1-3</option>
            <option value="N">Newborn - years 0-1</option>
        </select></div>
        <br></div>
        <br>
</div>
<button class="btn btn-primary" type="button" onclick="Go()">Predict Head Direction</button><br><br>
<button class="btn btn-danger" type="button" onclick="Clear()">Clear</button><br><br>

<h4 id="predictionResult" class="predictionResult" ></h4>

 
</div>
<br><br><br>
<div>
    <div>
        <h4>Decision tree visualization</h4>
        <img class="clusters" src="~/img/download (2).png" alt="Decision Tree" className="w-25 p-3" />
        <p>
            This decision tree image is a visual representation of how the supervised model has been set up. Inputs found in the form are the values the model intakes and sorts through to predict the head direction based on other burial information.
        </p>

        <br />
        <br />
    </div>
    
    <div>
        <h4>Evaluation metrics</h4>
        <img class="clusters" src="~/img/Precision.png" className="w-25 p-3" />
        <p>
            Various metrics showing the correctness of our supervised decision tree model. Accuracy is a way to measure how good a classification model is by looking at the number of true positives and true negatives compared to all cases. Precision helps us to determine the fraction of positive predictions that are actually true and is useful when false positives are more expensive. Recall measures the fraction of positive cases that we predicted correctly, which is ideal when false negatives are costly. F1 is a combination of precision and recall, and it looks at false positives and false negatives equally. F1 is better when identifying relevant search results because true negatives aren't useful. Which evaluation metric we use depends on the problem we're trying to solve and how much it will cost if we get false positives or false negatives.
        </p>
        <br>
        <br>
    </div>
    <div>
        <h4>Matrix of training model metrics</h4>
        <img class="clusters" src="~/img/Matrix.png" className="w-25 p-3" />
        <p>
           Visual display of training model accuracy in classifying East and West head directions.
        </p>
        <br />
        <br />
    </div>
    
</div>

<script>

function Clear() {
  document.getElementById("predictionResult").innerHTML = "";
}

function Go() 
{
    var eastwest_E = 0.0
    var eastwest_W = 0.0
    var adultsubadult_A = 0.0
    var adultsubadult_C = 0.0
    var wrapping_B = 0.0
    var wrapping_H = 0.0
    var wrapping_W = 0.0
    var area_NE = 0.0
    var area_NW = 0.0
    var area_SE = 0.0
    var area_SW = 0.0
    var ageatdeath_A = 0.0
    var ageatdeath_C = 0.0
    var ageatdeath_I = 0.0
    var ageatdeath_N = 0.0
    var northsouth_N = 0.0
    var samplescollected = 0.0
    var goods = 0.0
    var facebundles = 0.0

    var squarenorthsouth = parseFloat(document.getElementById("squarenorthsouth").value)
    var squareeastwest = parseFloat(document.getElementById("squareeastwest").value)
    var burialdepth = parseFloat(document.getElementById("burialdepth").value)
    var southtohead = parseFloat(document.getElementById("southtohead").value)
    var westtohead = parseFloat(document.getElementById("westtohead").value)
    var buriallength = parseFloat(document.getElementById("buriallength").value)
    var southtofeet = parseFloat(document.getElementById("southtofeet").value)
    var westtofeet = parseFloat(document.getElementById("westtofeet").value)

    var aa = document.getElementById("samplescollected").value
    if (aa = "true")
    {
        samplescollected = 1.0
    }
    else
    {
        samplescollected = 0.0
    }

    var l = document.getElementById("goods").value
    if (l = "true")
    {
        goods = 1.0
    }
    else
    {
        goods = 0.0
    }

    var f = document.getElementById("facebundles").value
    if (f == "true")
    {
        facebundles = 1.0
    }
    else
    {
        facebundles = 0.0
    }


    var b = document.getElementById("northsouth").value
    if (b == "N")
    {
        northsouth_N = 1.0
    }
    else
    {
        northsouth_N = 0.0
    }
    
    var d = document.getElementById("eastwest").value
    if (d == "E")
    {
        eastwest_E = 1.0
        eastwest_W = 0.0
    }
    else
    {
        eastwest_E = 0.0
        eastwest_W = 1.0
    }

    var m = document.getElementById("adultsubadult").value
    if (m == "A")
    {
        adultsubadult_A = 1.0
        adultsubadult_C = 0.0
    }
    else
    {
        adultsubadult_A = 0.0
        adultsubadult_C = 1.0
    }

    var n = document.getElementById("wrapping").value
    if (n == "B")
    {
        wrapping_B = 1.0
    }
    else if (n == "H")
    {
        wrapping_H = 1.0
    }
    else
    {
        wrapping_W = 1.0
    }

    var o = document.getElementById("area").value
    if (o == "NE")
    {
        area_NE = 1.0
    }
    else if (o == "NW")
    {
        area_NW = 1.0
    }
    else if (o == "SW")
    {
        area_SW = 1.0
    }
    else
    {
        area_SE = 1.0
    }

    var p = document.getElementById("ageatdeath").value
    if (p == "A")
    {
        ageatdeath_A = 1.0
    }
    else if (p == "C")
    {
        ageatdeath_C = 1.0
    }
    else if (p == "I")
    {
        ageatdeath_I = 1.0
    }
    else
    {
        ageatdeath_N = 1.0
    }

    

    var inputData2 =  {
  "squarenorthsouth": squarenorthsouth,
  "burialdepth": burialdepth,
  "facebundles": facebundles,
  "southtohead": southtohead,
  "squareeastwest": squareeastwest,
  "goods": goods,
  "westtohead": westtohead,
  "samplescollected": samplescollected,
  "buriallength": buriallength,
  "westtofeet": westtofeet,
  "southtofeet": southtofeet,
  "northsouth_N": northsouth_N,
  "eastwest_E": eastwest_E,
  "eastwest_W": eastwest_W,
  "adultsubadult_A": adultsubadult_A,
  "adultsubadult_C": adultsubadult_C,
  "wrapping_B": wrapping_B,
  "wrapping_H": wrapping_H,
  "wrapping_W": wrapping_W,
  "area_NE": area_NE,
  "area_NW": area_NW,
  "area_SE": area_SE,
  "area_SW": area_SW,
  "ageatdeath_A": ageatdeath_A,
  "ageatdeath_C": ageatdeath_C,
  "ageatdeath_I": ageatdeath_I,
  "ageatdeath_N": ageatdeath_N
}

    fetch('/score', {
        method: 'POST',
        body: JSON.stringify(inputData2),
        headers: {
            'Content-Type': 'application/json'
        }
    })
        .then(response => response.json())
        .then(prediction => {
            console.log(prediction);
            // Update the h4 tag with the prediction result
            document.querySelector('#predictionResult').textContent = String("Predicted head direction: " + prediction.predictedValue);
            console.log("it got here at least");
        })
        .catch(error => {
            alert("Something went wrong...");
        });
}

</script>