@{
    ViewData["Title"] = "Unsupervised Analysis";
    Layout = "_Layout";
}

<div>
    <div>
        <h4>Cluster Analysis Graph #1: </h4>
        <img class="clusters" src="~/img/image (8).png" className="w-25 p-3" />
        <p>
            This cluster analysis reveals the spatial arrangement of the burial grid at each excavation site.
            Each data point in the analysis indicates the specific depth at which the mummy was buried, along with
            the precise coordinates denoting the location where the mummy's head and feet were discovered.
        </p>

        <br />
        <br />
    </div>
    
    <div>
        <h4>Cluster Analysis Graph #2: </h4>
        <img class="clusters" src="~/img/screenshot 2023-04-12 at 12.30.15 pm.png" className="w-25 p-3" />
        <p>
           A noteworthy observation drawn from cluster 2 is that a larger proportion of the aged mummies, 
           marked by the yellow cluster within the group, were buried at greater depths and oriented towards 
           the west. On the contrary, a greater number of mummies buried at shallower depths were found facing t
           he east. While this shift in orientation may suggest a change in tradition, its underlying cause warrants 
           deeper exploration.
        </p>
        <br />
        <br />
    </div>
    
    <div>
        <h4>Cluster Analysis Graph #3: </h4>
        <img class="clusters" src="~/img/screenshot 2023-04-12 at 12.41.20 pm.png" className="w-25 p-3" />
        <p>
            Examining the third cluster analysis, we observe a distinct axis delineating the age at which the mummies 
            perished. This scale ranges from 1 for adults, 0.75 for children, 0.5 for infants, and 0.25 for newborns. 
            By juxtaposing this axis with the burial depth scale ranging from 1 for deep burials to 0 for shallow burials, 
            it becomes apparent that older and deeper interments contain substantially fewer children, infants, and newborns 
            than their younger and shallower counterparts. This finding corroborates our earlier observation that older burials
            more commonly faced west, suggesting a potential correlation between burial practices and age.
        </p>

        <br />
        <br />
    </div>

    <div>
        <h4>Cluster Analysis Graph #4: </h4>
        <img class="clusters" src="~/img/screenshot 2023-04-12 at 12.44.37 pm.png" className="w-25 p-3" />
        <p>
            The fourth cluster analysis offers insight into the degree of association between burial location within the grid, 
            age at death, and head orientation. Interestingly, the results reveal that there is little correlation between the 
            burial's position along the east-west axis of the grid and either the mummy's age at death or the direction in which 
            their head was oriented. This suggests that the location of a burial site within the grid is not necessarily indicative 
            of any particular age group or directional orientation. However, further investigation may be required to confirm these 
            initial findings and explore any potential underlying factors that could be driving these patterns.
        </p>
    </div>
</div>