@{
}

@model IEnumerable<string>
<div class="d-grid gap-2">
    <h6>Age At Death</h6>
    <select>
        @foreach (string t in Model)
        {
            <option asp-route-AgeAtDeath="@t">@t</option>
        }
    </select>

</div>